build/
Builds/
builds/
jumake_build/
.vscode/
JuceLibraryCode/
CMakeLists.txt.user
.DS_Store
.idea
cmake-build-debug
cmake-build-release
.vs
compile_commands.json
.cache
buildnMake/
stuff
.gemini
.flatpak-builder/
autobuild/
dist
reinstall_flatpak.sh
AGENTS.md
