[submodule "modules/tracktion_engine"]
	path = modules/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
	branch = develop

[submodule "modules/rubberband"]
	path = modules/rubberband
	url = https://github.com/breakfastquay/rubberband.git
[submodule "modules/tinysoundfont"]
	path = modules/tinysoundfont
	url = https://github.com/schellingb/TinySoundFont.git
